# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.eggs/
*.egg-info/
*.egg
dist/
build/
wheels/

# Virtual environments
.env
.venv
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Dropbox
.dropbox
.dropbox.attr
*.dropbox.cache

# Project specific
*.wav
*.mp3
logs/
